<head>
    <title>WeSignUp|Thanks</title>
    <!-- Include the bootstrap stylesheets -->
    <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
    <style>
      h3 {color:#0053cc;}     
    </style>
</head>
<body>
  <div class="navbar navbar-inverse navbar-fixed-top">    
      <div class="navbar-inner pull-center">
        <div class="container">
            <a class="brand" href="/signup">GP Sign Up!</a>
            <ul class="nav">
              <li><a href="/signup">Home</a></li>
              <li><a href="/signup/create">Create</a></li>
              <li><a href="/signup/signup">Sign up</a></li>
              <li><a href="/signup/manage">Manage</a></li>
              <li><a href="http://fast-refuge-5620.herokuapp.com/signup/">Mobile view</a></li>
            </ul>          
        </div>
      </div>    
    </div>
    <br/><br/>
    <div align="center">
      <legend align="center"><h3 color:>Thank you for signing up!</h3></legend>
    </div>
</body>
